In [6]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn import metrics

# Decision Tree libraries
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

# DT Plots
from sklearn.tree import export_graphviz
from six import StringIO 
from IPython.display import Image  


import matplotlib.pyplot as plt
import seaborn as sns


# Regression Libraries libraries
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.preprocessing import PolynomialFeatures

# Other ML Libraries
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler

import statsmodels.api as sm
import statsmodels.formula.api as smf

#VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor

#seaborn theme
sns.set_theme(style="darkgrid")

In [5]:
df = pd.read_csv('https://query.data.world/s/nr56ywwu5g7m5lystbjm25ouxj2l6e', delimiter = ';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [11]:
# Will need to encode the categorical columns

def encoder(column):
    module = OrdinalEncoder()
    df[column] = module.fit_transform(df[[column]])
    return df.head()

In [12]:
encoder('job')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10.0,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,7.0,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,4.0,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,4.0,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,1.0,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [13]:
encoder('marital')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10.0,1.0,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,7.0,1.0,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,4.0,2.0,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,4.0,1.0,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,1.0,1.0,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [14]:
encoder('education')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10.0,1.0,0.0,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,7.0,1.0,1.0,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,4.0,2.0,2.0,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,4.0,1.0,2.0,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,1.0,1.0,1.0,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [15]:
encoder('default')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10.0,1.0,0.0,0.0,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,7.0,1.0,1.0,0.0,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,4.0,2.0,2.0,0.0,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,4.0,1.0,2.0,0.0,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,1.0,1.0,1.0,0.0,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [16]:
encoder('housing')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10.0,1.0,0.0,0.0,1787,0.0,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,7.0,1.0,1.0,0.0,4789,1.0,yes,cellular,11,may,220,1,339,4,failure,no
2,35,4.0,2.0,2.0,0.0,1350,1.0,no,cellular,16,apr,185,1,330,1,failure,no
3,30,4.0,1.0,2.0,0.0,1476,1.0,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,1.0,1.0,1.0,0.0,0,1.0,no,unknown,5,may,226,1,-1,0,unknown,no

In [17]:
encoder('loan')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10.0,1.0,0.0,0.0,1787,0.0,0.0,cellular,19,oct,79,1,-1,0,unknown,no
1,33,7.0,1.0,1.0,0.0,4789,1.0,1.0,cellular,11,may,220,1,339,4,failure,no
2,35,4.0,2.0,2.0,0.0,1350,1.0,0.0,cellular,16,apr,185,1,330,1,failure,no
3,30,4.0,1.0,2.0,0.0,1476,1.0,1.0,unknown,3,jun,199,4,-1,0,unknown,no
4,59,1.0,1.0,1.0,0.0,0,1.0,0.0,unknown,5,may,226,1,-1,0,unknown,no

In [18]:
encoder('contact')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10.0,1.0,0.0,0.0,1787,0.0,0.0,0.0,19,oct,79,1,-1,0,unknown,no
1,33,7.0,1.0,1.0,0.0,4789,1.0,1.0,0.0,11,may,220,1,339,4,failure,no
2,35,4.0,2.0,2.0,0.0,1350,1.0,0.0,0.0,16,apr,185,1,330,1,failure,no
3,30,4.0,1.0,2.0,0.0,1476,1.0,1.0,2.0,3,jun,199,4,-1,0,unknown,no
4,59,1.0,1.0,1.0,0.0,0,1.0,0.0,2.0,5,may,226,1,-1,0,unknown,no

In [19]:
encoder('month')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10.0,1.0,0.0,0.0,1787,0.0,0.0,0.0,19,10.0,79,1,-1,0,unknown,no
1,33,7.0,1.0,1.0,0.0,4789,1.0,1.0,0.0,11,8.0,220,1,339,4,failure,no
2,35,4.0,2.0,2.0,0.0,1350,1.0,0.0,0.0,16,0.0,185,1,330,1,failure,no
3,30,4.0,1.0,2.0,0.0,1476,1.0,1.0,2.0,3,6.0,199,4,-1,0,unknown,no
4,59,1.0,1.0,1.0,0.0,0,1.0,0.0,2.0,5,8.0,226,1,-1,0,unknown,no

In [20]:
encoder('poutcome')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10.0,1.0,0.0,0.0,1787,0.0,0.0,0.0,19,10.0,79,1,-1,0,3.0,no
1,33,7.0,1.0,1.0,0.0,4789,1.0,1.0,0.0,11,8.0,220,1,339,4,0.0,no
2,35,4.0,2.0,2.0,0.0,1350,1.0,0.0,0.0,16,0.0,185,1,330,1,0.0,no
3,30,4.0,1.0,2.0,0.0,1476,1.0,1.0,2.0,3,6.0,199,4,-1,0,3.0,no
4,59,1.0,1.0,1.0,0.0,0,1.0,0.0,2.0,5,8.0,226,1,-1,0,3.0,no

In [21]:
encoder('y')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10.0,1.0,0.0,0.0,1787,0.0,0.0,0.0,19,10.0,79,1,-1,0,3.0,0.0
1,33,7.0,1.0,1.0,0.0,4789,1.0,1.0,0.0,11,8.0,220,1,339,4,0.0,0.0
2,35,4.0,2.0,2.0,0.0,1350,1.0,0.0,0.0,16,0.0,185,1,330,1,0.0,0.0
3,30,4.0,1.0,2.0,0.0,1476,1.0,1.0,2.0,3,6.0,199,4,-1,0,3.0,0.0
4,59,1.0,1.0,1.0,0.0,0,1.0,0.0,2.0,5,8.0,226,1,-1,0,3.0,0.0

In [23]:
# Divide into X and y

X = df.loc[:, 'age' : 'poutcome'].values
y = df['y'].values

In [24]:
X

array([[ 30.,  10.,   1., ...,  -1.,   0.,   3.],
       [ 33.,   7.,   1., ..., 339.,   4.,   0.],
       [ 35.,   4.,   2., ..., 330.,   1.,   0.],
       ...,
       [ 57.,   9.,   1., ...,  -1.,   0.,   3.],
       [ 28.,   1.,   1., ..., 211.,   3.,   1.],
       [ 44.,   2.,   2., ..., 249.,   7.,   1.]])

In [25]:
# Splitting
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [26]:
# Decision Tree

tree_class = DecisionTreeClassifier(max_depth=7, min_samples_split=3)

tree_class.fit(X_train, y_train)

y_pred = tree_class.predict(X_test)

In [27]:
# see performance

print('accuracy_score : ', metrics.accuracy_score(y_test, y_pred))

accuracy_score :  0.8950276243093923

In [28]:
further_test = pd.read_csv('https://query.data.world/s/qy4uqnoc56ydidfkkneozx3rmmmq7o', delimiter = ';')
further_test

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no